<!--This is the Form view. The view will allow the user to sign up for an appointment.-->

<!--Pull in the Signup model-->
@model ProjectOne.Models.SignUp


<p>We are excited for you to join us! Please fill out the following information for your tour.</p>
<br />
<br 
<!--Display the day and time the user selected from the SignUp view that was passed throught the ViewBag-->
<p>Your tour date: @ViewBag.TimeSlot.Day, @ViewBag.TimeSlot.Time.</p>

<!--Form for user to fill out information-->
<form method="post" asp-action="Form">
    <label asp-for="GroupName">Name of group:</label><!--required-->
    <input type="text" asp-for="GroupName" />
    <!--Passes the day and time selected by the user-->
    <input type="hidden" name="TimeSlotId" asp-for="TimeSlotId" value="@ViewBag.TimeSlot.TimeSlotId" />
    <br />
    <label asp-for="GroupSize">Size of group:</label><!--required-->
    <input asp-for="GroupSize" type="number" />
    <br />
    <label asp-for="Email">Email address:</label><!--required-->
    <input asp-for="Email" type="email" />
    <br />
    <label asp-for="PhoneNumber">Phone number:</label><!--optional-->
    <input asp-for="PhoneNumber" type="tel" />
    <br />
    <button type="submit">Book tour</button>
    <!--Passes information to the database-->
    <div asp-validation-summary="All"></div>
</form>
<!--After the user books the tour, they are showed the appointment confirmation and can go back to the home page-->